@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

button{
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    color: rgb(243, 243, 243);
    border-radius: 5px;
    border: none;
    padding: 5px 7px;
    background: rgb(82, 182, 154);
    &:hover{
        background: rgb(45, 138, 77);
        cursor: pointer;
        transition: all .3s;
    }
}

.navBar{
    background-color: rgba(136,180,164,0.9);
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navLogo{
        margin-left: 1vw;
        height: 10vh;
    }
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        li{
            margin-right: 3vw;
        }
        .carritoImg{
            width: 30px;
        }
    }
}

.main{
    height: 79vh;
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: rgba(136,180,164,0.9);
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .footerIcon{
        height: 6vh;
        margin-top: 1vh;
        margin-right: 1vw;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
    }
}